<div id="logo">junty</div>
        
<div id="subtitle">
    <b>Automation for streams handling with tasks for PHP 7</b>
</div>
        
<div id="github-btns">
    <li class="github-btn" style="margin-right: 10px;">
        <a class="github-button" href="https://github.com/the-junty/junty" data-icon="octicon-star" data-style="mega" data-count-href="/the-junty/junty/stargazers" data-count-api="/repos/the-junty/junty#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star the-junty/junty on GitHub">Star</a>
    </li>
    <li class="github-btn">
        <a class="github-button" href="https://github.com/the-junty/junty/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/the-junty/junty/network" data-count-api="/repos/the-junty/junty#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork the-junty/junty on GitHub">Fork</a>
    </li>
</div>